*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.header{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(images/wallpaper.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
nav{
  padding: 30px 3%;
  display: flex;
  align-items: center;
}
nav ul{
  flex: 1;
  text-align: right;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin: 10px 30px;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}
.logo{
  width: 32px;
  cursor: pointer;
}
.menu-icon{
  width: 35px;
  cursor: pointer;
  margin: 0 20px;
}
.social-media a{
  color: #fff;
  text-decoration: none;
  margin: 0 25px;
}
.social-media{
  transform:  rotate(90deg) translate(-100%);
  transform-origin: left;
  position: absolute;
  bottom: 0;
  left: 5%;
}
.line{
  position: absolute;
  top: 0;
  left: 9%;
  bottom: 0;
  width: 2px;
  background: rgba(255,255,255,0.3);
}
.row{
  width: 75%;
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: space-between;
  color: #fff;
  margin-top: 8%;
}
.row span{
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-size: 17px;

}
.row span img{
  width: 15px;
  margin-right: 15px;
}

.content span{
  font-size: 22px;
}
.content h1{
  font-size: 75px;
  margin-top: 30px;
  margin-bottom: 20px
}
.info span{
  font-size: 19px;
}
.info{
  position: relative;
}
.info::before{
   content: '';
  background: rgba(255,255,255,0.6);
  height: 100%;
  width: 2px;
  position:absolute;
  top: 5px;
  left: -30px;
}
:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;

  background: var(--clr-bg);
  font-family: "Balsamiq Sans", cursive;
  color: var(--clr-neon);
  
}

.neon-button {
  font-size: 4rem;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}
